{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Import Tickets</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
</head>
<body>
<div class="div">
    <h1>Import Tickets</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="excel_file">
        <button style="background-color: #4CAF50; /* Màu nền */
        color: white;             /* Màu chữ */
        padding: 10px 20px;       /* Kích thước đệm */
        border: none;             /* Không có đường viền */
        border-radius: 5px;       /* Độ cong góc */
        cursor: pointer;          /* Con trỏ khi di chuột */
        font-size: 16px;          /* Kích thước chữ */" type="submit">Import</button>
    </form>
</div>
</body>

</html>